@font-face {
  font-family: 'DINPro';
  src:
    url('../fonts/DINPro.woff') format('woff'),
    url('../fonts/DINPro.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'DINPro-Bold';
  src:
    url('../fonts/DINPro-Bold.woff') format('woff'),
    url('../fonts/DINPro-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'DINPro-BoldItalic';
  src:
    url('../fonts/DINPro-BoldItalic.woff') format('woff'),
    url('../fonts/DINPro-BoldItalic.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'DINProItalic';
  src:
    url('../fonts/DINPro-Italic.woff') format('woff'),
    url('../fonts/DINPro-Italic.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'DINProMedium';
  src:
    url('../fonts/DINPro-Medium.woff') format('woff'),
    url('../fonts/DINPro-Medium.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'DINProMediumItalic';
  src:
    url('../fonts/DINPro-MediumItalic.woff') format('woff'),
    url('../fonts/DINPro-MediumItalic.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}